@model IEnumerable<ChapterModel>

@{
    ViewData["SegmentedPaginator"] = false;
    ViewData["PaginatorButtonSize"] = "small";
    var deletionRoute = (string) ViewData["DeletionRoute"];
}

@section Headers
{
    <script>
    $(() => {
        let deletionTarget;
        let deletionModal = $(".modal");
        
        $("#titles").addClass("active");
                
        deletionModal.modal({
        closable: false,
        onDeny: () => deletionTarget = null,
        onApprove: () => {
            deletionModal.api({
            on: "now",
            url: "@deletionRoute" + deletionTarget,
            method: "DELETE",
            onSuccess: () => location.reload(),
            onFailure: response => addError($(".message"), response)
            })
        }
        });
        
        $(".negative.button").on("click", (event) => {
            if ($(event.target).is("i"))
                deletionTarget = $(event.target).parent().attr("chapter-id");
            else
                deletionTarget = $(event.target).attr("chapter-id");
            
            deletionModal.modal("show");
        });
    });
    </script>
}

@if (Model.Any())
{
    
@section TopRightSlot
{
    <a class="ui icon right floated mini positive button" style="margin-top: 0.1rem" href="@Url.Action("Add")">
        <i class="plus icon"></i>
    </a>
}

    <div class="ui basic mini modal">
        <div class="ui icon header">
            <i class="trash icon"></i>
            @Labels.ConfirmDeletion
        </div>
        <div class="content">
            <p>@OtherMessages.ConfirmDeleteChapter</p>
        </div>
        <div class="actions">
            <div class="ui cancel inverted button">
                <i class="times icon"></i>
                @Labels.No
            </div>
            <div class="ui ok green inverted button">
                <i class="check icon"></i>
                @Labels.Yes
            </div>
        </div>
    </div>
    <table class="ui unstackable very basic fixed single line center aligned table">
        <thead>
        <tr>
            <th>@Labels.Number</th>
            <th>@Labels.Date</th>
            <th>@Labels.Visibility</th>
            <th>@Labels.Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var chapter in Model)
        {
            <tr>
                <td>@(chapter.Volume != null && chapter.Volume > 0 ? $"{Labels.Vol}{chapter.Volume} " : null)@Labels.Chapter @chapter.Number@(!string.IsNullOrWhiteSpace(chapter.Name) ? $": {chapter.Name}": null)</td>
                <td>@chapter.ReleaseDate?.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@(chapter.Visible ? Labels.Visible : Labels.Hidden)</td>
                <td>
                    <div class="ui mini buttons">
                        <a class="ui icon primary button" href="@Url.Action("Edit", new {titleId = chapter.TitleId, chapterId = chapter.ChapterId})"><i class="pen icon"></i></a>
                        <a class="ui icon negative button" chapter-id="@chapter.ChapterId"><i class="trash icon"></i></a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <partial name="_Paginator"></partial>
}
else
{
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="book icon"></i>
            @OtherMessages.NoChapterExist
        </div>
        <a class="ui primary button" href="@Url.Action("Add")">@Labels.AddChapter</a>
    </div>   
}