@model NovelChapterModel

@section Headers
{
    <partial name="_FullTextEditor"/>
    <script>
    const chapterNameMaxLengthLabel = "@ValidationMessages.ChapterNameMaxLength";
    const chapterMustHaveNumberLabel = "@ValidationMessages.ChapterMustHaveNumber";
    const chapterNumberOutOfRangeLabel = "@ValidationMessages.ChapterNumberOutOfRange";
    const requestFailedLabel = "@OtherMessages.RequestFailed";
    const actionRoute = "@ViewData["ActionRoute"]";
    const method = "@ViewData["Method"]";
    </script>
    <script src="~/libs/weebreader/admin/chapter-editor-shared.js" asp-append-version="true"></script>
    <script src="~/libs/weebreader/admin/chapter-editor-novel.js" asp-append-version="true"></script>
}

<form class="ui form" novalidate>
    <input type="hidden" name="chapterId" asp-for="ChapterId"/>
    <div class="ui message error"></div>
    <div class="field">
        <div class="two fields">
            <div class="field">
                <label>@Labels.Volume</label>
                <input type="number" name="volume" placeholder="@Labels.Volume" asp-for="Volume"/>
            </div>
            <div class="field">
                <label>@Labels.Number</label>
                <input type="number" min="0" max="9999.9" step="0.1" name="number" placeholder="@Labels.Number" asp-for="Number"/>
            </div>
        </div>
    </div>
    <div class="field">
        <label>@Labels.Name</label>
        <input type="text" name="name" placeholder="@Labels.Name" asp-for="Name"/>
    </div>
    <div class="field">
        <div class="two fields">
            <div class="field">
                <label>@Labels.Date</label>
                <div class="ui calendar">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" name="releaseDate" placeholder="@Labels.ReleaseDate" asp-for="ReleaseDate"/>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>@Labels.Visibility</label>
                <div class="ui toggle checkbox @(Model == null ? "checked" : null)">
                    <input class="hidden" type="checkbox" name="visible" checked="@(Model == null ? "checked" : null)" asp-for="Visible"/>
                    <label>@Labels.MakeVisible</label>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label>@Labels.Content</label>
        <textarea name="content" placeholder="@Labels.Content" asp-for="Content"></textarea>
    </div>
    <div class="field ov-auto">
        <div class="ui right floated black submit button ov-hidden">@ViewData["Function"]</div>
    </div>
</form>