@inject ParametersManager ParametersManager
@model ContactParametersModel

@{
    ViewData["Title"] = $"{Labels.Contact} - {Labels.Parameters}";
}

@section Headers
{
    <partial name="_PartialTextEditor"/>
    <script>
    const reCaptchaClientKeyRequiredLabel = "@ValidationMessages.ReCaptchaClientKeyRequired";
    const reCaptchaServerKeyRequiredLabel = "@ValidationMessages.ReCaptchaServerKeyRequired";
    const discordLinkRequiredLabel = "@ValidationMessages.DiscordLinkRequired";
    const discordLinkValidUrlLabel = "@ValidationMessages.DiscordLinkValidUrl";
    const requestFailedLabel = "@OtherMessages.RequestFailed";
    const patchRoute = "@Url.Action("Contact")";
    </script>
    <script src="~/libs/weebreader/admin/parameter-contact.js" asp-append-version="true"></script>
}

<form class="ui form" novalidate>
    <div class="ui message error"></div>
    <div class="field">
        <label>@Labels.EmailContact</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="emailEnabled" asp-for="EmailEnabled" disabled="@(!await ParametersManager.GetValue<bool>(ParameterTypes.EmailSenderEnabled))"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="field">
        <label>@Labels.ReCaptcha</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="recaptchaEnabled" asp-for="RecaptchaEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>@Labels.ReCaptchaClientKey</label>
            <input type="text" name="recaptchaClientKey" placeholder="@Labels.ReCaptchaClientKey" asp-for="RecaptchaClientKey"/>
        </div>
        <div class="field">
            <label>@Labels.ReCaptchaServerKey</label>
            <input type="text" name="reCaptchaServerKey" placeholder="@Labels.ReCaptchaServerKey" asp-for="RecaptchaServerKey"/>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="field">
        <label>@Labels.Discord</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="contactDiscordEnabled" asp-for="ContactDiscordEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="field">
        <label>@Labels.DiscordServerAddress</label>
        <input type="text" name="discordLink" placeholder="@Labels.DiscordServerAddress" asp-for="DiscordLink"/>
    </div>
    <div class="field">
        <label>@Labels.DiscordNotice</label>
        <textarea name="discordNotice" placeholder="@Labels.DiscordNotice" asp-for="DiscordNotice"></textarea>
    </div>
    <div class="ui divider"></div>
    <div class="field ov-auto">
        <div class="ui right floated black submit button ov-hidden">@Labels.UpdateParameters</div>
    </div>
</form>