@model EmailParametersModel

@{
    ViewData["Title"] = $"{Labels.Email} - {Labels.Parameters}";
}

@section Headers
{
    <script>
    const siteEmailRequiredLabel = "@ValidationMessages.SiteEmailRequired";
    const validEmailRequiredSiteEmailLabel = "@ValidationMessages.ValidEmailRequiredSiteEmail";
    const smtpServerRequiredLabel = "@ValidationMessages.SmtpServerRequired";
    const smtpServerPortRequiredLabel = "@ValidationMessages.SmtpServerPortRequired";
    const smtpServerPortOutOfRangeLabel = "@ValidationMessages.SmtpServerPortOutOfRange";
    const requestFailedLabel = "@OtherMessages.RequestFailed";
    const patchRoute = "@Url.Action("Email")";
    </script>
    <script src="~/libs/weebreader/admin/parameter-email.js" asp-append-version="true"></script>
}

<form class="ui form" novalidate>
    <div class="ui message error"></div>
    <div class="field">
        <label>@Labels.EmailSender</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="emailSenderEnabled" asp-for="EmailSenderEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="field">
        <label>@Labels.SiteEmail</label>
        <input type="email" name="siteEmail" placeholder="@Labels.SiteEmail" asp-for="SiteEmail"/>
    </div>
    <div class="two fields">
        <div class="field">
            <label>@Labels.SMTPServerAddress</label>
            <input type="text" name="smtpServer" placeholder="@Labels.SMTPServerAddress" asp-for="SmtpServer"/>
        </div>
        <div class="field">
            <label>@Labels.SMTPServerPort</label>
            <input type="number" name="smtpServerPort" min="0" max="@ushort.MaxValue" placeholder="@Labels.SMTPServerPort" asp-for="SmtpServerPort"/>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>@Labels.SMTPServerUser</label>
            <input type="text" name="smtpServerUser" placeholder="@Labels.SMTPServerUser" asp-for="SmtpServerUser"/>
        </div>
        <div class="field">
            <label>@Labels.SMTPServerPassword</label>
            <input type="text" name="smtpServerPassword" placeholder="@Labels.SMTPServerPassword" autocomplete="off" asp-for="SmtpServerPassword"/>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="field ov-auto">
        <div class="ui right floated black submit button ov-hidden">@Labels.UpdateParameters</div>
    </div>
</form>