@model PagesParametersModel

@{
    ViewData["Title"] = $"{Labels.Pages} - {Labels.Parameters}";
}

@section Headers
{
    <partial name="_TinyMCE"/>
    <script>
    $(() => {
        let form = $(".form");
        let messageContainer = $(".form .message");
        
        $("#parameters").addClass("active");
        $("#parameters-content").addClass("active");
        $("#parameters-pages").addClass("active");
        $(".checkbox").checkbox();
        
        form.on("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                return false;
            }
        });
        
        form.on("submit", () => tinyMCE.triggerSave()).form({
        on: "blur",
        fields: {
            aboutContent: {
                identifier: "aboutContent",
                depends: "aboutEnabled",
                rules: [
                    {
                        type   : "empty",
                        prompt : "@ValidationMessages.AboutPageContentRequired"
                    }
                ]
            },
            patreonLink: {
                identifier: "patreonLink",
                depends: "patreonEnabled",
                rules: [
                    {
                        type   : "empty",
                        prompt : "@ValidationMessages.PatreonLinkRequired"
                    },
                    {
                        type: "url",
                        prompt: "@ValidationMessages.PatreonLinkValidUrl"
                    }
                ]
            },
            kofiLink: {
                identifier: "kofiLink",
                depends: "kofiEnabled",
                rules: [
                    {
                        type   : "empty",
                        prompt : "@ValidationMessages.KoFiLinkRequired"
                    },
                    {
                        type: "url",
                        prompt: "@ValidationMessages.KofiLinkValidUrl"
                    }
                ]
            },
            disqusShortname: {
                identifier: "disqusShortname",
                depends: "disqusEnabled",
                rules: [
                    {
                        type   : "empty",
                        prompt : "@ValidationMessages.DisqusShortnameRequired"
                    }
                ]
            }
        }
        }).api({
        url: "@Url.Action("Pages")",
        serializeForm: true,
        method: "PATCH",
        onSuccess: () => location.reload(),
        onFailure: response => Array.isArray(response.messages) ? addError(messageContainer, response) : addError(messageContainer, buildFakeResponse(["@OtherMessages.RequestFailed"])),
        onError: () => addError(messageContainer, buildFakeResponse(["@OtherMessages.RequestFailed"]))
        });
    });
    </script>
}

<form class="ui form" novalidate>
    <div class="field">
        <label>@Labels.Blog</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="blogEnabled" asp-for="BlogEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="field">
        <label>@Labels.About</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="aboutEnabled" asp-for="AboutEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="ui message error"></div>
    <div class="field">
        <label>@Labels.AboutPageContent</label>
        <textarea name="aboutContent" placeholder="@Labels.AboutPageContent" asp-for="AboutContent"></textarea>
    </div>
    <div class="field">
        <label>@Labels.Patreon</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="patreonEnabled" asp-for="PatreonEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="field">
        <label>@Labels.PatreonPageAddress</label>
        <input type="text" name="patreonLink" placeholder="@Labels.PatreonPageAddress" asp-for="PatreonLink"/>
    </div>
    <div class="field">
        <label>@Labels.PatreonNotice</label>
        <textarea name="patreonNotice" placeholder="@Labels.PatreonNotice" asp-for="PatreonNotice"></textarea>
    </div>
    <div class="field">
        <label>@Labels.KoFi</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="kofiEnabled" asp-for="KofiEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="field">
        <label>@Labels.KofiPageAddress</label>
        <input type="text" name="kofiLink" placeholder="@Labels.KofiPageAddress" asp-for="KofiLink"/>
    </div>
    <div class="field">
        <label>@Labels.KofiNotice</label>
        <textarea name="kofiNotice" placeholder="@Labels.KofiNotice" asp-for="KofiNotice"></textarea>
    </div>
    <div class="field">
        <label>@Labels.Disqus</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="disqusEnabled" asp-for="DisqusEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="field">
        <label>@Labels.DisqusShortname</label>
        <input type="text" name="disqusShortname" placeholder="@Labels.DisqusShortname" asp-for="DisqusShortname"/>
    </div>
    <div class="field ov-auto">
        <div class="ui right floated black submit button ov-hidden">@Labels.UpdateParameters</div>
    </div>
</form>