@model PagesParametersModel

@{
    ViewData["Title"] = $"{Labels.Pages} - {Labels.Parameters}";
}

@section Headers
{
    <partial name="_PartialTextEditor"/>
    <script>
    const aboutPageContentRequiredLabel = "@ValidationMessages.AboutPageContentRequired";
    const patreonLinkRequiredLabel = "@ValidationMessages.PatreonLinkRequired";
    const patreonLinkValidUrlLabel = "@ValidationMessages.PatreonLinkValidUrl";
    const koFiLinkRequiredLabel = "@ValidationMessages.KoFiLinkRequired";
    const kofiLinkValidUrlLabel = "@ValidationMessages.KofiLinkValidUrl";
    const disqusShortnameRequiredLabel = "@ValidationMessages.DisqusShortnameRequired";
    const requestFailedLabel = "@OtherMessages.RequestFailed";
    const patchRoute = "@Url.Action("Pages")";
    </script>
    <script src="~/libs/weebreader/admin/parameter-pages.js" asp-append-version="true"></script>
}

<form class="ui form" novalidate>
    <div class="ui message error"></div>
    <div class="field">
        <label>@Labels.Blog</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="blogEnabled" asp-for="BlogEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="field">
        <label>@Labels.About</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="aboutEnabled" asp-for="AboutEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="field">
        <label>@Labels.AboutPageContent</label>
        <textarea name="aboutContent" placeholder="@Labels.AboutPageContent" asp-for="AboutContent"></textarea>
    </div>
    <div class="ui divider"></div>
    <div class="field">
        <label>@Labels.Patreon</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="patreonEnabled" asp-for="PatreonEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="field">
        <label>@Labels.PatreonPageAddress</label>
        <input type="text" name="patreonLink" placeholder="@Labels.PatreonPageAddress" asp-for="PatreonLink"/>
    </div>
    <div class="field">
        <label>@Labels.PatreonNotice</label>
        <textarea name="patreonNotice" placeholder="@Labels.PatreonNotice" asp-for="PatreonNotice"></textarea>
    </div>
    <div class="ui divider"></div>
    <div class="field">
        <label>@Labels.KoFi</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="kofiEnabled" asp-for="KofiEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="field">
        <label>@Labels.KofiPageAddress</label>
        <input type="text" name="kofiLink" placeholder="@Labels.KofiPageAddress" asp-for="KofiLink"/>
    </div>
    <div class="field">
        <label>@Labels.KofiNotice</label>
        <textarea name="kofiNotice" placeholder="@Labels.KofiNotice" asp-for="KofiNotice"></textarea>
    </div>
    <div class="ui divider"></div>
    <div class="field">
        <label>@Labels.Disqus</label>
        <div class="ui toggle checkbox">
            <input class="hidden" type="checkbox" name="disqusEnabled" asp-for="DisqusEnabled"/>
            <label>@Labels.Enable</label>
        </div>
    </div>
    <div class="field">
        <label>@Labels.DisqusShortname</label>
        <input type="text" name="disqusShortname" placeholder="@Labels.DisqusShortname" asp-for="DisqusShortname"/>
    </div>
    <div class="ui divider"></div>
    <div class="field ov-auto">
        <div class="ui right floated black submit button ov-hidden">@Labels.UpdateParameters</div>
    </div>
</form>