@inject ParametersManager ParameterManager
@model IEnumerable<PostModel>

@{
    ViewData["Title"] = Labels.Posts;
    ViewData["SegmentedPaginator"] = false;
    ViewData["PaginatorButtonSize"] = "small";
    var deletionRoute = (string) ViewData["DeletionRoute"];
}

@section Headers
{
    <script>
    $(() => {
        let deletionTarget;
        let deletionModal = $(".modal");
        let messageContainer = $(".message");
        
        $("#blog").addClass("active");
                
        deletionModal.modal({
        closable: false,
        onDeny: () => deletionTarget = null,
        onApprove: () => {
            deletionModal.api({
            on: "now",
            url: "@deletionRoute" + deletionTarget,
            method: "DELETE",
            onSuccess: () => location.reload(),
            onFailure: response => Array.isArray(response.messages) ? addError(messageContainer, response) : addError(messageContainer, buildFakeResponse(["@OtherMessages.RequestFailed"])),
            onError: () => addError(messageContainer, buildFakeResponse(["@OtherMessages.RequestFailed"]))
            })
        }
        });
        
        $(".negative.button").on("click", (event) => {
            if ($(event.target).is("i"))
                deletionTarget = $(event.target).parent().attr("post-id");
            else
                deletionTarget = $(event.target).attr("post-id");
            
            deletionModal.modal("show");
        });
    });
    </script>
}

@if (Model.Any())
{
    
@section TopRightSlot
{
    <a class="ui icon right floated mini positive button" style="margin-top: 0.1rem" href="@Url.Action("Add")">
        <i class="plus icon"></i>
    </a>
}

    <div class="ui basic mini modal">
        <div class="ui icon header">
            <i class="trash icon"></i>
            @Labels.ConfirmDeletion
        </div>
        <div class="content">
            <p>@OtherMessages.ConfirmDeletePost</p>
        </div>
        <div class="actions">
            <div class="ui cancel inverted button">
                <i class="times icon"></i>
                @Labels.No
            </div>
            <div class="ui ok green inverted button">
                <i class="check icon"></i>
                @Labels.Yes
            </div>
        </div>
    </div>
    <table class="ui unstackable very basic fixed single line center aligned table">
        <thead>
        <tr>
            <th>@Labels.Title</th>
            <th>@Labels.Date</th>
            <th>@Labels.Visibility</th>
            <th>@Labels.Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.ReleaseDate?.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@(post.Visible ? Labels.Visible : Labels.Hidden)</td>
                <td>
                    <div class="ui mini buttons">
                        <a class="ui icon primary button" href="@Url.Action("Edit", new {postId = post.PostId})"><i class="pen icon"></i></a>
                        <a class="ui icon negative button" post-id="@post.PostId"><i class="trash icon"></i></a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <partial name="_Paginator"/>
}
else
{
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="newspaper icon"></i>
            @OtherMessages.NoPostExist
        </div>
        <a class="ui primary button" href="@Url.Action("Add")">@Labels.AddPost</a>
    </div>   
}