@model PostModel

@section Headers
{
    <partial name="_TinyMCE"/>
    <script>
    $(() => {
        let messageContainer = $(".form .message");
        
        $(".checkbox").checkbox();
        $(".ui.calendar").calendar({
        ampm: false,
        formatter: {
            date: (date, settings) => {
                if (!date)
                    return "";
                
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let day = date.getDate();
                
                return `${year}-${month <= 9 ? `0${month}` : month}-${day <= 9 ? `0${day}` : day}`;
            },
            time: (date, setting) => {
                if (!date)
                    return "";
                
                let hour = date.getHours();
                let minutes = date.getMinutes();
                
                return `${hour <= 9 ? `0${hour}` : hour}:${minutes <= 9 ? `0${minutes}` : minutes}`;
            } 
        }
        });
        
        $(".form").on("submit", () => tinyMCE.triggerSave()).form({
        on: "blur",
        fields: {
            title: {
                identifier  : "title",
                rules: [
                    {
                        type   : "empty",
                        prompt : "@ValidationMessages.PostMustHaveTitle"
                    }
                ]
            },
            content: {
                identifier  : "content",
                rules: [
                    {
                        type   : "empty",
                        prompt : "@ValidationMessages.PostMustHaveContent"
                    }
                ]
            }
        }
        }).api({
        url: "@ViewData["ActionRoute"]",
        serializeForm: true,
        method: "@ViewData["Method"]",
        onSuccess: response => window.location.href = response.destination,
        onFailure: response => addError(messageContainer, response)
        });
    });
    </script>
}

<form class="ui form" novalidate>
    <input type="hidden" name="postId" asp-for="PostId"/>
    <div class="ui message error"></div>
    <div class="field">
        <label>@Labels.Title</label>
        <input type="text" name="title" placeholder="@Labels.Title" asp-for="Title"/>
    </div>
    <div class="field">
        <label>@Labels.Content</label>
        <textarea id="editor-area" name="content" asp-for="Content"></textarea>
    </div>
    <div class="two fields">
        <div class="field">
            <label>@Labels.Date</label>
            <div class="ui calendar">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" name="releaseDate" placeholder="@Labels.ReleaseDate" asp-for="ReleaseDate"/>
                </div>
            </div>
        </div>
        <div class="field">
            <label>@Labels.Visibility</label>
            <div class="ui toggle checkbox">
                <input class="hidden" type="checkbox" name="visible" asp-for="Visible"/>
                <label>@Labels.MakeVisible</label>
            </div>
        </div>
    </div>
    <div class="field" style="overflow: auto">
        <div class="ui right floated black submit button" style="overflow: hidden">@ViewData["Title"]</div>
    </div>
</form>