@model PostModel

@section Headers
{
    <partial name="_PartialTextEditor"/>
    <script>
    var postMustHaveTitleLabel = "@ValidationMessages.PostMustHaveTitle";
    var postTitleMaxLengthLabel = "@ValidationMessages.PostTitleMaxLength";
    var postMustHaveContentLabel = "@ValidationMessages.PostMustHaveContent";
    var requestFailedLabel = "@OtherMessages.RequestFailed";
    var actionRoute = "@ViewData["ActionRoute"]";
    var method = "@ViewData["Method"]";
    </script>
    <script src="~/libs/weebreader.1.0.0/admin/blog-editor.js"></script>
}

<form class="ui form" novalidate>
    <input type="hidden" name="postId" asp-for="PostId"/>
    <div class="ui message error"></div>
    <div class="field">
        <label>@Labels.Title</label>
        <input type="text" name="title" placeholder="@Labels.Title" asp-for="Title"/>
    </div>
    <div class="field">
        <label>@Labels.Content</label>
        <textarea name="content" asp-for="Content"></textarea>
    </div>
    <div class="two fields">
        <div class="field">
            <label>@Labels.Date</label>
            <div class="ui calendar">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" name="releaseDate" placeholder="@Labels.ReleaseDate" asp-for="ReleaseDate"/>
                </div>
            </div>
        </div>
        <div class="field">
            <label>@Labels.Visibility</label>
            <div class="ui toggle checkbox @(Model == null ? "checked" : null)">
                <input class="hidden" type="checkbox" name="visible" checked="@(Model == null ? "checked" : null)" asp-for="Visible"/>
                <label>@Labels.MakeVisible</label>
            </div>
        </div>
    </div>
    <div class="field ov-auto">
        <div class="ui right floated black submit button ov-hidden">@ViewData["Title"]</div>
    </div>
</form>