@model TitleModel

@section Headers
{
    <partial name="_PartialTextEditor"/>
    <script>
    const titleMustHaveNameLabel = "@ValidationMessages.TitleMustHaveName";
    const titleNameMaxLengthLabel = "@ValidationMessages.TitleNameMaxLength";
    const titleOriginalNameMaxLengthLabel = "@ValidationMessages.TitleOriginalNameMaxLength";
    const titleMustHaveAuthorLabel = "@ValidationMessages.TitleMustHaveAuthor";
    const titleAuthorMaxLengthLabel = "@ValidationMessages.TitleAuthorMaxLength";
    const titleMustHaveArtistLabel = "@ValidationMessages.TitleMustHaveArtist";
    const titleArtistMaxLengthLabel = "@ValidationMessages.TitleArtistMaxLength";
    const maxPreviousChaptersUrlSizeLabel = "@ValidationMessages.MaxPreviousChaptersUrlSize";
    const invalidPreviousChaptersUrlLabel = "@ValidationMessages.InvalidPreviousChaptersUrl";
    const requestFailedLabel = "@OtherMessages.RequestFailed";
    const actionRoute = "@ViewData["ActionRoute"]";
    const method = "@ViewData["Method"]";
    </script>
    <script src="~/libs/weebreader/admin/title-editor.js" asp-append-version="true"></script>
}

<form class="ui form" novalidate>
    <input type="hidden" name="titleId" asp-for="TitleId"/>
    <div class="ui message error"></div>
    <div class="field">
        <div class="two fields">
            <div class="field">
                <label>@Labels.Name</label>
                <input type="text" name="name" placeholder="@Labels.Name" asp-for="Name"/>
            </div>
            <div class="field">
                <label>@Labels.OriginalName</label>
                <input type="text" name="originalName" placeholder="@Labels.OriginalName" asp-for="OriginalName"/>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="two fields">
            <div class="field">
                <label>@Labels.Author</label>
                <input type="text" name="author" placeholder="@Labels.Author" asp-for="Author"/>
            </div>
            <div class="field">
                <label>@Labels.Artist</label>
                <input type="text" name="artist" placeholder="@Labels.Artist" asp-for="Artist"/>
            </div>
        </div>
    </div>
    <div class="field">
        <label>@Labels.PreviousChaptersUrl</label>
        <input type="text" name="previousChaptersUrl" placeholder="@Labels.PreviousChaptersUrl" asp-for="PreviousChaptersUrl"/>
    </div>
    <div class="field">
        <div class="two fields">
            <div class="field">
                <label>@Labels.Tags</label>
                <div id="tags" class="ui fluid multiple search selection dropdown">
                    <input name="tags" type="hidden" asp-for="Tags">
                    <div class="default text">@Labels.Tags</div>
                </div>
            </div>
            <div class="field">
                <label>@Labels.Status</label>
                <div id="status" class="ui fluid selection dropdown">
                    <input type="hidden" name="status" asp-for="Status">
                    <i class="dropdown icon"></i>
                    <div class="default text">@Labels.Status</div>
                    <div class="menu">
                        <div class="item" data-value="@Title.Statuses.Ongoing">@Labels.Ongoing</div>
                        <div class="item" data-value="@Title.Statuses.Hiatus">@Labels.Hiatus</div>
                        <div class="item" data-value="@Title.Statuses.Completed">@Labels.Completed</div>
                        <div class="item" data-value="@Title.Statuses.Dropped">@Labels.Dropped</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label>@Labels.Synopsis</label>
        <textarea name="synopsis" placeholder="@Labels.Synopsis" asp-for="Synopsis"></textarea>
    </div>
    <div class="field">
        <div class="three fields">
            <div class="field">
                <label>@Labels.NSFWWarning</label>
                <div class="ui toggle checkbox">
                    <input class="hidden" type="checkbox" name="nsfw" asp-for="Nsfw"/>
                    <label>@Labels.Enable</label>
                </div>
            </div>
            <div class="field">
                <label>@Labels.Visibility</label>
                <div class="ui toggle checkbox @(Model == null ? "checked" : null)">
                    <input class="hidden" type="checkbox" name="visible" checked="@(Model == null ? "checked" : null)" asp-for="Visible"/>
                    <label>@Labels.MakeVisible</label>
                </div>
            </div>
            <div class="field">
                <label>@Labels.Cover</label>
                <label id="file-label" for="file" class="ui icon button no-margin-bottom mt-0-5rem"><i class="file icon"></i>@Labels.OpenFile</label>
                <input type="file" id="file" class="dp-none" name="cover" accept=".png,.jpg,.jpeg" asp-for="Cover">
            </div>
        </div>
    </div>
    <div class="field ov-auto">
        <div class="ui right floated black submit button ov-hidden">@ViewData["Title"]</div>
    </div>
</form>
<div class="ui indicating progress dp-none">
    <div class="bar">
        <div class="progress"></div>
    </div>
    <div class="label">@Labels.Uploading</div>
</div>