@model IEnumerable<UserModel>

@{
    ViewData["Title"] = PortalMessages.MSG060;
    var page = (ushort) ViewData["Page"];
    var totalPages = (decimal) ViewData["TotalPages"];
}

@section Headers
{
    <script>
    $(() => {        
        $("#users").addClass("active");
    });
    </script>
}

@section TopRightSlot
{
    <a class="ui icon right floated mini positive button" style="margin-top: 0.1rem" href="@Url.Action("Add")">
        <i class="plus icon"></i>
    </a>
}

@if (Model.Any())
{
    <table class="ui unstackable very basic fixed single line center aligned table">
        <thead>
        <tr>
            <th>@PortalMessages.MSG038</th>
            <th>@PortalMessages.MSG049</th>
            <th>@PortalMessages.MSG050</th>
            <th>@PortalMessages.MSG063</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <a class="ui icon primary mini button" href="@Url.Action("Edit", new { userId = user.UserId })"><i class="pen icon"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="ui three column centered grid">
        <div class="left aligned column">
            <a id="previous-page" class="ui basic icon button @(page <= 1 ? "disabled" : string.Empty)" href="@Url.Action("Index", new { page = page - 1 })">
                <i class="arrow left icon"></i>
            </a>
        </div>
        <div id="current-page" class="center aligned column">
            @string.Format(PortalMessages.MSG064, page, totalPages)
        </div>
        <div class="right aligned column">
            <a id="next-page" class="ui basic icon button @(page >= totalPages ? "disabled" : string.Empty)" href="@Url.Action("Index", new { page = page + 1 })">
                <i class="arrow right icon"></i>
            </a>
        </div>
    </div>
}
else
{
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="users icon"></i>
            @PortalMessages.MSG061
        </div>
        <a class="ui primary button" href="@Url.Action("Add")">@PortalMessages.MSG062</a>
    </div>   
}