@{
    ViewData["Title"] = PortalMessages.MSG047;
    var user = (IdentityUser<Guid>) ViewData["User"];
    var role = (string) ViewData["Role"];
}

@section Headers
{
    <script>    
    $(() => {
        let changePasswordForm = $("#change-password-form");
        let changeEmailForm = $("#change-email-form");
        let changePasswordMessage = changePasswordForm.children(".message");
        let changeEmailMessage = changeEmailForm.children(".message");
        
        $("#your-profile-computer,#your-profile-mobile").addClass("active");
  
        changePasswordForm.form({
        on: "blur",
        fields: {
            password: {
                identifier: "password",
                rules: [
                    {
                        type: "empty",
                        prompt: "@ModelMessages.MSG010"
                    },
                    {
                        type: "minLength[8]",
                        prompt: "@ModelMessages.MSG006"
                    }
                ]
            },
            newPassword: {
                identifier: "newPassword",
                rules: [
                    {
                        type: "empty",
                        prompt: "@ModelMessages.MSG005"
                    },
                    {
                        type: "minLength[8]",
                        prompt: "@ModelMessages.MSG006"
                    }
                ]
            },
            repeatNewPassword: {
                identifier: "repeatNewPassword",
                rules: [
                    {
                        type: "match[newPassword]",
                        prompt: "@PortalMessages.MSG042"
                    }
                ]
            }
        }
        }).api({
        url: "@Url.Action("ChangePassword")",
        serializeForm: true,
        method: "PATCH",
        onSuccess: (response) => {
            addSuccess(changePasswordMessage, response); 
            changePasswordForm.trigger("reset");
        },
        onFailure: (response) => addError(changePasswordMessage, response)
        });
                
        changeEmailForm.form({
        on: "blur",
        fields: {
            email: {
                identifier: "email",
                rules: [
                    {
                        type: "empty",
                        prompt: "@ModelMessages.MSG001"
                    },
                    {
                        type: "email",
                        prompt: "@ModelMessages.MSG002"
                    }
                ]
            },
            repeatNewPassword: {
                identifier: "repeatEmail",
                rules: [
                    {
                        type: "match[email]",
                        prompt: "@PortalMessages.MSG048"
                    }
                ]
            }
        }
        }).api({
        url: "@Url.Action("ChangeEmail")",
        serializeForm: true,
        method: "PATCH",
        onSuccess: (response) => {
            addSuccess(changeEmailMessage, response);
            changeEmailForm.trigger("reset");
        },
        onFailure: (response) => addError(changeEmailMessage, response)
        });
    });
    </script>
}

<div class="ui three column stackable grid">
    <div class="center aligned column">
        @PortalMessages.MSG038: @(user.UserName)
    </div>
    <div class="center aligned column">
        @PortalMessages.MSG049: @(user.Email)
    </div>
    <div class="center aligned column">
        @PortalMessages.MSG050: @(role ?? PortalMessages.MSG054)
    </div>
</div>
<div class="ui two column stackable centered grid">
    <div class="column">
        <form id="change-password-form" class="ui form" novalidate>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="@PortalMessages.MSG039">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="newPassword" placeholder="@PortalMessages.MSG045">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="repeatNewPassword" placeholder="@PortalMessages.MSG046">
                    </div>
                </div>
                <div class="ui fluid large black submit button">@PortalMessages.MSG043</div>
            </div>
            <div class="ui message error"></div>
        </form>
    </div>
    <div class="column">
        <form id="change-email-form" class="ui form" novalidate>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="email" placeholder="@PortalMessages.MSG051">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="repeatEmail" placeholder="@PortalMessages.MSG052">
                    </div>
                </div>
                <div class="ui fluid large black submit button">@PortalMessages.MSG053</div>
            </div>
            <div class="ui message error"></div>
        </form>
    </div>
</div>