@{
    var successMessage = (IEnumerable<string>) TempData["SuccessMessage"];
    var errorMessage = (IEnumerable<string>) TempData["ErrorMessage"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_SharedHeaders"/>
    <script>
    $(function() {
      $(".ui.sidebar").sidebar({
        context: $(".bottom.segment")
      }).sidebar("attach events", "#computer-toggler,#mobile-toggler");
    })
    </script>
    @await RenderSectionAsync("Headers", false)
</head>
<body>
<div class="ui computer only grid no-margin-top no-margin-bottom">
    <div class="ui top attached inverted menu no-border-radius">
        <a class="item" href="/">
            <img src="~/assets/logo.png" alt="Logo"/>
        </a>
        <a id="computer-toggler" class="item">
            <i class="sidebar icon"></i>
            Menu
        </a>
        <div class="right menu">
            <a class="item" href="@Url.Action("YourProfile", "UserManager")">
                <i class="user icon"></i>
                Profile
            </a>
            <a class="item" href="@Url.Action("SignOut", "SignIn")">
                <i class="sign out alternate icon"></i>
                Sign out
            </a>
        </div>
    </div>
</div>
<div class="ui mobile tablet only grid no-margin-top no-margin-bottom">
    <div class="ui top attached inverted icon menu no-border-radius">
        <a class="item" href="/">
            <img src="~/assets/logo.png" alt="Logo"/>
        </a>
        <a id="mobile-toggler" class="item">
            <i class="sidebar icon"></i>
        </a>
        <div class="right menu">
            <a class="item" href="@Url.Action("YourProfile", "UserManager")">
                <i class="user icon"></i>
            </a>
            <a class="item" href="@Url.Action("SignOut", "SignIn")">
                <i class="sign out alternate icon"></i>
            </a>
        </div>
    </div>
</div>
<div class="ui bottom attached segment pushable no-border no-border-radius no-margin-bottom">
    <div class="ui inverted left vertical sidebar menu">
        <a class="item">
            <i class="left table icon"></i>
            Comics
        </a>
        <a class="item">
            <i class="left book icon"></i>
            Novels
        </a>
        <a class="item">
            <i class="left newspaper icon"></i>
            Blog
        </a>
        <a class="item">
            <i class="left file outline icon"></i>
            Resources
        </a>
        <a class="item">
            <i class="left external alternate icon"></i>
            Links
        </a>
        <a class="item">
            <i class="left users icon"></i>
            Users
        </a>
        <a class="item">
            <i class="left cogs icon"></i>
            Settings
        </a>
    </div>
    <div class="pusher">
        <div class="ui hidden section divider"></div>
        <div class="ui container" style="margin-bottom: 5rem">
            @if (successMessage != null || errorMessage != null)
            {
                <div class="ui message @(successMessage == null ? "error" : "success")">
                    <i class="close icon"></i>
                    <ul class="list">
                        @foreach (var item in successMessage ?? errorMessage)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </div>
            }
            <h2 class="ui dividing header">
                @ViewData["Title"]
            </h2>
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>