@{
    var successMessage = (IEnumerable<string>) TempData["SuccessMessage"];
    var errorMessage = (IEnumerable<string>) TempData["ErrorMessage"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_SharedHeaders"/>
    <script>
    $(() => {
        $(".ui.sidebar").sidebar({
        context: $(".bottom.segment")
        }).sidebar("attach events", "#computer-toggler,#mobile-toggler");
        
        $(".message .close").on("click", function() {
            $(this).closest(".message").transition("fade");
        });
    })
    </script>
    @await RenderSectionAsync("Headers", false)
</head>
<body>
<div class="ui computer only grid no-margin-top no-margin-bottom">
    <div class="ui top attached inverted menu no-border-radius">
        <a class="item" href="/">
            <img src="~/assets/logo.png" alt="Logo"/>
        </a>
        <a id="computer-toggler" class="item">
            <i class="sidebar icon"></i>
            @Labels.Menu
        </a>
        <div class="right menu">
            <a id="your-profile-computer" class="item" href="@Url.Action("YourProfile", "UserManager")">
                <i class="user icon"></i>
                @Labels.YourProfile
            </a>
            <a class="item" href="@Url.Action("SignOut", "SignIn")">
                <i class="sign out alternate icon"></i>
                @Labels.SignOut
            </a>
        </div>
    </div>
</div>
<div class="ui mobile tablet only grid no-margin-top no-margin-bottom">
    <div class="ui top attached inverted icon menu no-border-radius">
        <a class="item" href="/">
            <img src="~/assets/logo.png" alt="Logo"/>
        </a>
        <a id="mobile-toggler" class="item">
            <i class="sidebar icon"></i>
        </a>
        <div class="right menu">
            <a id="your-profile-mobile" class="item" href="@Url.Action("YourProfile", "UserManager")">
                <i class="user icon"></i>
            </a>
            <a class="item" href="@Url.Action("SignOut", "SignIn")">
                <i class="sign out alternate icon"></i>
            </a>
        </div>
    </div>
</div>
<div class="ui bottom attached segment pushable no-border no-border-radius no-margin-bottom">
    <div class="ui inverted left vertical sidebar menu">
        <a id="titles" class="item">
            <i class="left book icon"></i>
            @Labels.Titles
        </a>
        <a id="blog" class="item">
            <i class="left newspaper icon"></i>
            @Labels.Blog
        </a>
        <a id="resources" class="item">
            <i class="left file outline icon"></i>
            @Labels.Resources
        </a>
        <a id="links" class="item">
            <i class="left external alternate icon"></i>
            @Labels.Links
        </a>
        <a id="users" class="item" href="@Url.Action("Index", "UserManager")">
            <i class="left users icon"></i>
            @Labels.Users
        </a>
        <a id="settings" class="item">
            <i class="left cogs icon"></i>
            @Labels.Settings
        </a>
    </div>
    <div class="pusher">
        <div class="ui hidden section divider"></div>
        <div class="ui container" style="margin-bottom: 5rem">
            @await RenderSectionAsync("TopRightSlot", false)
            <h2 class="ui dividing header">
                @ViewData["Title"]
            </h2>
            <div class="ui @(successMessage == null && errorMessage == null ? "hidden" : string.Empty) message @(successMessage == null ? "error" : "success")">
                <i class="close icon"></i>
                @if (successMessage != null || errorMessage != null)
                {
                    <ul class="list">
                        @foreach (var item in successMessage ?? errorMessage)
                        {
                            <li>@item</li>
                        }
                    </ul>
                }
            </div>
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>