@inject ParametersManager ParametersManager

@{
    var discordEnabled = await ParametersManager.GetValue<bool>(ParameterTypes.ContactDiscordEnabled);
    var blogEnabled = await ParametersManager.GetValue<bool>(ParameterTypes.PageBlogEnabled);
    var aboutEnabled = await ParametersManager.GetValue<bool>(ParameterTypes.PageAboutEnabled);
    var kofiEnabled = await ParametersManager.GetValue<bool>(ParameterTypes.PageAboutKofiEnabled);
    var patreonEnabled = await ParametersManager.GetValue<bool>(ParameterTypes.PageAboutPatreonEnabled);
    var emailSenderEnabled = await ParametersManager.GetValue<bool>(ParameterTypes.EmailSenderEnabled);
    var emailContactEnabled = await ParametersManager.GetValue<bool>(ParameterTypes.ContactEmailEnabled);
    var lightMode = ViewData["BodyClass"]?.ToString() != Constants.DarkModeClasses;
    var fixedFooter = (bool?) ViewData["FixedFooter"] ?? false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_AdsHeaderCode"/>
    <partial name="_SharedHeaders"/>
    <partial name="_GoogleAnalytics"/>
    <script src="~/libs/weebreader/main/main-shared.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Headers", false)
</head>
<body class="@(ViewData["BodyClass"] ?? "background")">
<div class="ui computer only grid no-margin">
    <div class="ui top attached large borderless menu @(lightMode ? "inverted" : null) no-margin-left no-margin-right no-border-radius">
        <div class="ui container">
            <a class="item" href="/">
                <img src="~/assets/@(lightMode ? "logo_l" : "logo_d").png" alt="Logo" asp-append-version="true" />
            </a>
            <a id="titles" class="item menu-item" href="@Url.Action("Titles", "Content", new { titleId = string.Empty})">
                @Labels.Titles
            </a>
            @if (blogEnabled)
            {
                <a id="blog" class="item menu-item" href="@Url.Action("Blog", "Home")" >
                    @Labels.Blog
                </a>    
            }
            @if (aboutEnabled || kofiEnabled || patreonEnabled)
            {
                <a id="about" class="item menu-item" href="@Url.Action("About", "Home")" >
                    @Labels.About
                </a>   
            }
            @if (emailSenderEnabled && emailContactEnabled || discordEnabled)
            {
                <a id="contact" class="item menu-item" href="@Url.Action("Contact", "Home")">
                    @Labels.Contact
                </a>   
            }
        </div>
    </div>
</div>
<div class="ui tablet mobile only grid no-margin">
    <div class="ui top attached large borderless menu mobile-menu @(lightMode ? "inverted" : null) no-margin-left no-margin-right no-border-radius">
        <a class="item" href="/">
            <img src="~/assets/@(lightMode ? "logo_l" : "logo_d").png" alt="Logo" asp-append-version="true"/>
        </a>
        <div class="right menu">
            <div class="item">
                <button class="ui icon toggle basic @(lightMode ? "black active" : null) button">
                    <i class="@(lightMode ? "inverted" : null) icon bars"></i>
                </button>
            </div>
        </div>
        <div class="ui vertical secondary fluid menu @(lightMode ? "inverted" : null)" style="display: none">
            <a id="titles-mobile" class="item menu-item" href="@Url.Action("Titles", "Content", new { titleId = string.Empty})">
                @Labels.Titles
            </a>
            @if (blogEnabled)
            {
                <a id="blog-mobile" class="item menu-item" href="@Url.Action("Blog", "Home")" >
                    @Labels.Blog
                </a>       
            }
            @if (aboutEnabled || kofiEnabled || patreonEnabled)
            {
                <a id="about-mobile" class="item menu-item" href="@Url.Action("About", "Home")" >
                    @Labels.About
                </a>   
            }
            @if (emailSenderEnabled && emailContactEnabled || discordEnabled)
            {
                <a id="contact-mobile" class="item menu-item" href="@Url.Action("Contact", "Home")">
                    @Labels.Contact
                </a>   
            }
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
<partial name="_AdsTopSlot"/>
<div class="ui fluid container">
    @RenderBody()
</div>
<partial name="_AdsBottomSlot"/>
@if (fixedFooter)
{
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>   
}
<div class="ui center aligned fluid container @(fixedFooter ? "fixed-footer" : "normal-footer")">
    <footer>
        <div class="ui large @(ViewData["BodyClass"] == null ? null : lightMode ? "inverted" : null) label">
            © @DateTime.Now.Year @(await ParametersManager.GetValue<string>(ParameterTypes.SiteName))
            @if (discordEnabled)
            {
                <a href="@(await ParametersManager.GetValue<string>(ParameterTypes.ContactDiscordLink))">
                    <i class="discord big icon"></i>
                </a>
            }
            <a href="@Url.Action("IndexRss", "Content")">
                <i class="rss big fitted icon"></i>
            </a>
        </div>
    </footer>
</div>
</body>
</html>