@inject ParametersManager ParametersManager
@inject SignInManager<IdentityUser<Guid>> SignInManager

@{
    var siteName = await ParametersManager.GetValue<string>(Parameter.Types.SiteName);
    var discordEnabled = await ParametersManager.GetValue<bool>(Parameter.Types.ContactDiscordEnabled);
    var discordLink = await ParametersManager.GetValue<string?>(Parameter.Types.ContactDiscordLink);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_SharedHeaders"/>
    @await RenderSectionAsync("Headers", false)
</head>
<body class="background">
<div class="ui top attached inverted menu no-margin-top no-border-radius">
    <div class="ui container">
        <a class="item" href="/">
            <img src="~/assets/logo.png" alt="Logo"/>
        </a>
        <a class="item">
            @Labels.Titles
        </a>
        <a class="item">
            @Labels.AboutUs
        </a>
        <a class="item">
            @Labels.ContactUs
            
        </a>
        <div class="right menu">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="item" href="@Url.Action("YourProfile", "UsersManager")">
                    <i class="plus icon"></i>
                </a>
            }
        </div>
    </div>
</div>
<div class="ui container">
    <div class="ui hidden divider"></div>
    @RenderBody()
</div>
<div class="ui center aligned container">
    <footer>
        <div class="ui label">
            @if (discordEnabled)
            {
                <p>© @DateTime.Now.Year @siteName
                    <a href="@discordLink">
                        <img class="ui mini avatar image" src="~/assets/discord_a.png" alt="Discord Logo"/>
                    </a>
                </p>
            }
            else
            {
                <p>© @DateTime.Now.Year @siteName</p>
            }
        </div>
    </footer>
</div>
</body>
</html>