@inject IConfiguration Configuration
@inject ParametersManager ParameterManager

@{
    var siteDescription = await ParameterManager.GetValue<string>(Parameter.Types.SiteDescription);
}

<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
@if (!Convert.ToBoolean(ViewData["ShowInSearch"]))
{
    <meta name="robots" content="noindex, nofollow">
}

<!-- Site Properties -->
<title>@ViewData["Title"] - @(await ParameterManager.GetValue<string>(Parameter.Types.SiteName))</title>
@if (!string.IsNullOrWhiteSpace(siteDescription))
{
    <meta name="description" content="@siteDescription">
}
@if (Convert.ToBoolean(ViewData["AllowIndexing"]))
{
    <meta name="robots" content="noindex, nofollow">
}
<link rel="icon" href="~/assets/icon.png">
<link rel="stylesheet" href="~/libs/fomantic/semantic.min.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/libs/weebreader/weebreader-shared.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/libs/cookieconsent.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/libs/weebreader/overrides.css" asp-append-version="true"/>
<script src="~/libs/jquery.js" asp-append-version="true"></script>
<script src="~/libs/jquery.serialize-object.js" asp-append-version="true"></script>
<script src="~/libs/fomantic/semantic.min.js" asp-append-version="true"></script>
<script src="~/libs/cookieconsent.js" asp-append-version="true"></script>
<script>
const cookieNoticeLabel = "@OtherMessages.CookieNotice";
const cookieConfirmationLabel = "@Labels.CookieConfirmation";
</script>
<script src="~/libs/weebreader/weebreader-shared.js" asp-append-version="true"></script>