@model IEnumerable<UserModel>

@{
    ViewData["Title"] = Labels.Users;
    ViewData["SegmentedPaginator"] = false;
    ViewData["PaginatorButtonSize"] = "small";
}

@section Headers
{
    <script>
    var requestFailedLabel = "@OtherMessages.RequestFailed";
    var deletionRoute = "@ViewData["DeletionRoute"]";
    </script>
    <script src="~/libs/weebreader.1.0.1/admin/user-index.js"></script>
}

@if (Model.Any())
{
    
@section TopRightSlot
{
    <a class="ui icon right floated mini positive button mt-0-1rem" href="@Url.Action("Add")">
        <i class="plus icon"></i>
    </a>
}
    
    <div class="ui basic mini modal">
        <div class="ui icon header">
            <i class="trash icon"></i>
            @Labels.ConfirmDeletion
        </div>
        <div class="content">
            <p>@OtherMessages.ConfirmDeleteUser</p>
        </div>
        <div class="actions">
            <div class="ui cancel inverted button">
                <i class="times icon"></i>
                @Labels.No
            </div>
            <div class="ui ok green inverted button">
                <i class="check icon"></i>
                @Labels.Yes
            </div>
        </div>
    </div>
    <table class="ui unstackable very basic fixed single line center aligned table">
        <thead>
        <tr>
            <th>@Labels.Username</th>
            <th>@Labels.Email</th>
            <th>@Labels.Role</th>
            <th>@Labels.Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <div class="ui mini buttons">
                        <a class="ui icon primary button" href="@Url.Action("Edit", new {userId = user.UserId})"><i class="pen icon"></i></a>
                        <a class="ui icon negative button" user-id="@user.UserId"><i class="trash icon"></i></a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <partial name="_AdminPaginator"/>
}
else
{
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="users icon"></i>
            @OtherMessages.NoUserExist
        </div>
        <a class="ui primary button" href="@Url.Action("Add")">@Labels.AddUser</a>
    </div>
}