@model IEnumerable<UserModel>

@{
    ViewData["Title"] = Labels.Users;
    var page = (ushort) ViewData["Page"];
    var totalPages = (decimal) ViewData["TotalPages"];
}

@section Headers
{
    <script>
    $(() => {        
        $("#users").addClass("active");
    });
    </script>
}

@section TopRightSlot
{
    <a class="ui icon right floated mini positive button" style="margin-top: 0.1rem" href="@Url.Action("Add")">
        <i class="plus icon"></i>
    </a>
}

@if (Model.Any())
{
    <table class="ui unstackable very basic fixed single line center aligned table">
        <thead>
        <tr>
            <th>@Labels.Username</th>
            <th>@Labels.Email</th>
            <th>@Labels.Role</th>
            <th>@Labels.Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <a class="ui icon primary mini button" href="@Url.Action("Edit", new { userId = user.UserId })"><i class="pen icon"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="ui three column grid">
        <div class="left aligned column">
            <div class="ui basic small buttons">
                <a class="ui icon button @(page <= 1 ? "disabled" : string.Empty)" href="@Url.Action("Index", new {page = 1})">
                    <i class="angle double left icon"></i>
                </a>
                <a class="ui icon button @(page <= 1 ? "disabled" : string.Empty)" href="@Url.Action("Index", new {page = page - 1})">
                    <i class="angle left icon"></i>
                </a>
            </div>
        </div>
        <div id="current-page" class="middle aligned center aligned column">
            @string.Format(Labels.XOfY, page, totalPages)
        </div>
        <div class="right aligned column">
            <div class="ui basic small buttons">
                <a id="next-page" class="ui basic icon button @(page >= totalPages ? "disabled" : string.Empty)" href="@Url.Action("Index", new {page = page + 1})">
                    <i class="angle right icon"></i>
                </a>
                <a class="ui basic icon button @(page >= totalPages ? "disabled" : string.Empty)" href="@Url.Action("Index", new {page = totalPages})">
                    <i class="angle double right icon"></i>
                </a>
            </div>
        </div>
    </div>
}
else
{
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="users icon"></i>
            @OtherMessages.NoUsersFound
        </div>
        <a class="ui primary button" href="@Url.Action("Add")">@Labels.AddUser</a>
    </div>   
}