@model UserModel

@{
    var roles = new List<string> {Labels.None};

    roles.AddRange(typeof(RoleTranslator).GetFields().Select(info => RoleTranslator.FromRole(info.GetValue(null)!.ToString())).Reverse());
}

@section Headers
{
    <script>
    var usernameRequiredLabel = "@ValidationMessages.UsernameRequired";
    var minimumUsernameLengthLabel = "@ValidationMessages.MinimumUsernameLength";
    var maxUsernameLengthLabel = "@ValidationMessages.MaxUsernameLength";
    var emailRequiredLabel = "@ValidationMessages.EmailRequired";
    var validEmailRequiredLabel = "@ValidationMessages.ValidEmailRequired";
    var roleRequiredLabel = "@ValidationMessages.RoleRequired";
    var minimumPasswordLengthLabel = "@ValidationMessages.MinimumPasswordLength";
    var passwordsMustBeEqualLabel = "@ValidationMessages.PasswordsMustBeEqual";
    var requestFailedLabel = "@OtherMessages.RequestFailed";
    var actionRoute = "@ViewData["ActionRoute"]";
    var method = "@ViewData["Method"]";
    </script>
    <script src="~/libs/weebreader.1.0.1/admin/user-editor.js"></script>
}

<form class="ui form" novalidate>
    <input type="hidden" name="userId" asp-for="UserId"/>
    <div class="ui message error"></div>
    <div class="three fields">
        <div class="field">
            <label>@Labels.Username</label>
            <input type="text" name="username" placeholder="@Labels.Username" asp-for="Username"/>
        </div>
        <div class="field">
            <label>@Labels.Email</label>
            <input type="email" name="email" placeholder="@Labels.EmailAddress" asp-for="Email">
        </div>
        <div class="field">
            <label>@Labels.Role</label>
            <select class="ui search dropdown" name="role" asp-for="Role">
                @foreach (var role in roles)
                {
                    <option value="@role">@role</option>
                }
            </select>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>@Labels.Password</label>
            <input type="password" name="password" placeholder="@Labels.Password" asp-for="Password">
        </div>
        <div class="field">
            <label>@Labels.RepeatPassword</label>
            <input type="password" name="repeatPassword" placeholder="@Labels.RepeatPassword"/>
        </div>
    </div>
    <div class="field ov-auto">
        <div class="ui right floated black submit button ov-hidden">@ViewData["Title"]</div>
    </div>
</form>