@model UserModel

@{
    ViewData["Title"] = Labels.YourProfile;
}

@section Headers
{
    <script>
    const passwordRequiredLabel = "@ValidationMessages.PasswordRequired";
    const minimumPasswordLengthLabel = "@ValidationMessages.MinimumPasswordLength";
    const newPasswordRequiredLabel = "@ValidationMessages.NewPasswordRequired";
    const passwordsMustBeEqualLabel = "@ValidationMessages.PasswordsMustBeEqual";
    const emailRequiredLabel = "@ValidationMessages.EmailRequired";
    const validEmailRequiredLabel = "@ValidationMessages.ValidEmailRequired";
    const emailsMustBeEqualLabel = "@ValidationMessages.EmailsMustBeEqual";
    const requestFailedLabel = "@OtherMessages.RequestFailed";
    const changePasswordRoute = "@Url.Action("ChangePassword")";
    const changeEmailRoute = "@Url.Action("ChangeEmail")";
    </script>
    <script src="~/libs/weebreader/admin/user-profile.js" asp-append-version="true"></script>
}

<div class="ui three column stackable grid">
    <div class="center aligned column">
        @Labels.Username: @Model.Username
    </div>
    <div class="center aligned column">
        @Labels.Email: @Model.Email
    </div>
    <div class="center aligned column">
        @Labels.Role: @Model.Role
    </div>
</div>
<div class="ui two column stackable centered grid">
    <div class="column">
        <form id="change-password-form" class="ui form" novalidate>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="@Labels.Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="newPassword" placeholder="@Labels.NewPassword">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="repeatNewPassword" placeholder="@Labels.RepeatNewPassword">
                    </div>
                </div>
                <div class="ui fluid large black submit button">@Labels.ChangePassword</div>
            </div>
            <div class="ui message error"></div>
        </form>
    </div>
    <div class="column">
        <form id="change-email-form" class="ui form" novalidate>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="email" placeholder="@Labels.NewEmailAddress">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="repeatEmail" placeholder="@Labels.RepeatNewEmailAddress">
                    </div>
                </div>
                <div class="ui fluid large black submit button">@Labels.ChangeEmail</div>
            </div>
            <div class="ui message error"></div>
        </form>
    </div>
</div>