@inject ParametersManager ParametersManager

@{
    ViewData["Title"] = Labels.About;
    var content = await ParametersManager.GetValue<string>(Parameter.Types.PageAboutContent);
    var patreonEnabled = await ParametersManager.GetValue<bool>(Parameter.Types.PageAboutPatreonEnabled);
    var patreonLink = await ParametersManager.GetValue<string>(Parameter.Types.PageAboutPatreonLink);
    var patreonNotice = await ParametersManager.GetValue<string>(Parameter.Types.PageAboutPatreonNotice);
    var kofiEnabled = await ParametersManager.GetValue<bool>(Parameter.Types.PageAboutKofiEnabled);
    var kofiLink = await ParametersManager.GetValue<string>(Parameter.Types.PageAboutKofiLink);
    var kofiNotice = await ParametersManager.GetValue<string>(Parameter.Types.PageAboutKofiNotice);
    var aboutEnabled = await ParametersManager.GetValue<bool>(Parameter.Types.PageAboutEnabled);
}

@section Headers
{
    <script src="~/libs/weebreader.1.0.0/main/about.js"></script>
}

<div class="ui container">
    @if (aboutEnabled)
    {
        <div class="ui raised segment">
            <div class="ui hidden divider"></div>
            <div class="ui content">
                @Html.Raw(content)
            </div>
        </div>   
    }
    @if (patreonEnabled)
    {
        <div class="ui raised segment">
            <h4 class="ui header">@Labels.BecomeOurPatreon</h4>
            @Html.Raw(patreonNotice)
            <a class="ui fluid mini grey button" href="@patreonLink">
                <img class="ui centered small image" src="~/assets/patreon.png"/>
            </a>
        </div>
    }
    @if (kofiEnabled)
    {
        <div class="ui raised segment">
            <h4 class="ui header">@Labels.BuyUsACoffee</h4>
            @Html.Raw(kofiNotice)
            <a class="ui fluid mini grey button" href="@kofiLink">
                <img class="ui centered small image" src="~/assets/kofi.png"/>
            </a>
        </div>
    }
</div>