@inject ParametersManager ParametersManager

@{
    ViewData["Title"] = Labels.AboutUs;
    var content = await ParametersManager.GetValue<string>(Parameter.Types.PageAboutUsContent);
    var patreonEnabled = await ParametersManager.GetValue<bool>(Parameter.Types.PageAboutUsPatreonEnabled);
    var patreonLink = await ParametersManager.GetValue<string?>(Parameter.Types.PageAboutUsPatreonLink);
    var patreonNotice = await ParametersManager.GetValue<string?>(Parameter.Types.PageAboutUsPatreonNotice);
    var kofiEnabled = await ParametersManager.GetValue<bool>(Parameter.Types.PageAboutUsKofiEnabled);
    var kofiLink = await ParametersManager.GetValue<string?>(Parameter.Types.PageAboutUsKofiLink);
    var kofiNotice = await ParametersManager.GetValue<string?>(Parameter.Types.PageAboutUsKofiNotice);
}

@section Headers
{
    <script>
    $(() => $("#about-us,#about-us-mobile").addClass("active"));
    </script>
}

<div class="ui container">
    <div class="ui raised segment">
        <div class="ui hidden divider"></div>
        <div class="ui content">
            @Html.Raw(content)
        </div>
    </div>
    @if (patreonEnabled)
    {
        <div class="ui raised segment">
            <h4 class="ui header">@Labels.BecomeOurPatreon</h4>
            @Html.Raw(patreonNotice)
            <a class="ui fluid grey button" href="@patreonLink">
                <img class="ui centered small image" src="~/assets/patreon.png"/>
            </a>
        </div>
    }
    @if (kofiEnabled)
    {
        <div class="ui raised segment">
            <h4 class="ui header">@Labels.BuyUsACoffee</h4>
            @Html.Raw(kofiNotice)
            <a class="ui fluid grey button" href="@kofiLink">
                <img class="ui centered small image" src="~/assets/kofi.png"/>
            </a>
        </div>
    }
</div>