@inject ParametersManager ParametersManager

@{
    ViewData["Title"] = Labels.About;
}

@section Headers
{
    <script src="~/libs/weebreader/main/about.js" asp-append-version="true"></script>
}

<div class="ui container">
    @if (await ParametersManager.GetValue<bool>(ParameterTypes.PageAboutEnabled))
    {
        <div class="ui raised segment">
            <div class="ui hidden divider"></div>
            <div class="ui content">
                @Html.Raw(await ParametersManager.GetValue<string>(ParameterTypes.PageAboutContent))
            </div>
        </div>   
    }
    @if (await ParametersManager.GetValue<bool>(ParameterTypes.PageAboutPatreonEnabled))
    {
        <div class="ui raised segment">
            <h4 class="ui header">@Labels.BecomeOurPatreon</h4>
            @Html.Raw(await ParametersManager.GetValue<string>(ParameterTypes.PageAboutPatreonNotice))
            <a class="ui fluid mini grey button" href="@(await ParametersManager.GetValue<string>(ParameterTypes.PageAboutPatreonLink))">
                <img class="ui centered small image" src="~/assets/patreon.png" alt="@Labels.Patreon"/>
            </a>
        </div>
    }
    @if (await ParametersManager.GetValue<bool>(ParameterTypes.PageAboutKofiEnabled))
    {
        <div class="ui raised segment">
            <h4 class="ui header">@Labels.BuyUsACoffee</h4>
            @Html.Raw(await ParametersManager.GetValue<string>(ParameterTypes.PageAboutKofiNotice))
            <a class="ui fluid mini grey button" href="@(await ParametersManager.GetValue<string>(ParameterTypes.PageAboutKofiLink))">
                <img class="ui centered small image" src="~/assets/kofi.png" alt="@Labels.KoFi"/>
            </a>
        </div>
    }
</div>