@inject ParametersManager ParametersManager
@model IEnumerable<(Title title, Chapter chapter)>

@{
    ViewData["Title"] = Labels.Home;
    ViewData["ShowInSearch"] = true;
    var siteName = await ParametersManager.GetValue<string>(Parameter.Types.SiteName);
}

@section Headers
{
    <link rel="alternate" type="application/rss+xml" title="@($"{siteName} RSS")" href="@Url.Action("IndexRss", "Home")"/>
    <script>
    var currentPage = @ViewData["Page"];
    var totalPages = @ViewData["TotalPages"];
    var pageRequestRoute = "@Url.Action("Index", new {page = 0})";
    </script>
    <script src="libs/weebreader.1.0.0/main/index.js"></script>
}

<div class="ui center aligned container">
    <div id="card-container" class="ui four stackable cards">
        <partial name="Partials/IndexPartial" model="Model"/>
    </div>
    <div class="ui hidden divider"></div>
    <div id="loader" class="ui disabled centered large inline loader"></div>
</div>