@model IEnumerable<TitleModel>

@{
    ViewData["Title"] = Labels.Titles; 
    ViewData["SegmentedPaginator"] = true;
    ViewData["PaginatorButtonSize"] = "mini";
}

@section Headers
{
    <script>
    $(() => $("#titles,#titles-mobile").addClass("active"));
    </script>
}

<div class="ui center aligned container">
    <div class="ui four stackable cards">
        @foreach (var title in Model)
        {
            <div class="ui raised card">
                <div class="content">
                    <div class="center aligned content"><a href="@Url.Action("Titles", new { titleId = title.TitleId })"><img class="ui bordered image" src="/content/@title.TitleId/cover.png"></a></div>
                    <h4 class="ui center aligned header line-clamp min-height-2r"><a href="@Url.Action("Titles", new { titleId = title.TitleId })">@title.Name</a></h4>
                    <div class="center aligned description">
                        <p>@Labels.Status: @TitleStatusTranslator.FromStatus(title.Status)</p>
                    </div>
                </div>
                <a class="ui small black bottom attached button" href="@Url.Action("Titles", new { titleId = title.TitleId })">
                    @Labels.ViewDetails
                </a>
            </div>
        }
    </div>
    <partial name="_Paginator"/>
</div>