@model IEnumerable<Title>

@{
    ViewData["Title"] = Labels.Titles;
}

@section Headers
{
    <script>
    $(() => $("#titles,#titles-mobile").addClass("active"));
    </script>
}

<div class="ui center aligned container">
    <div class="ui four stackable cards">
        @foreach (var title in Model)
        {
            <div class="ui raised card">
                <div class="content">
                    <div class="center aligned content"><a href="@Url.Action("Titles", new { titleId = title.Id })"><img class="ui bordered image" src="/content/@title.Id/cover_thumb.jpg"></a></div>
                    <h4 class="ui center aligned header line-clamp height-limiter-2-7rem"><a href="@Url.Action("Titles", new { titleId = title.Id })">@title.Name</a></h4>
                    <div class="center aligned description">
                        <p>@Labels.Status: @TitleStatusTranslator.FromStatus(title.Status)</p>
                    </div>
                </div>
                <a class="ui small black bottom attached button" href="@Url.Action("Titles", new { titleId = title.Id })">
                    @Labels.ViewDetails
                </a>
            </div>
        }
    </div>
</div>