@model IEnumerable<Title>

@{
    ViewData["Title"] = Labels.Titles;
}

@section Headers
{
    <script src="~/libs/weebreader.1.0.1/main/titles.js"></script>
}

<div class="ui center aligned container">
    <div class="ui four stackable cards">
        @foreach (var title in Model)
        {
            <div class="ui raised card">
                <div class="content">
                    @if (title.Nsfw)
                    {
                        <div class="right aligned floating ui red label">@Labels.NSFW</div>
                    }
                    <div class="center aligned content ov-hidden">
                        <a href="@Url.Action("Titles", new {titleId = title.Id})">
                            <img class="ui bordered image @(title.Nsfw ? "blur" : string.Empty)" src="/content/@title.Id/cover_thumb.jpg?v=@title.Version">
                        </a>
                    </div>
                    <h4 class="ui center aligned header line-clamp h-2-7rem"><a href="@Url.Action("Titles", new {titleId = title.Id})">@title.Name</a></h4>
                    <div class="center aligned description">
                        <p>@Labels.Status: @TitleStatusTranslator.FromStatus(title.Status)</p>
                    </div>
                </div>
                <a class="ui small black bottom attached button" href="@Url.Action("Titles", new { titleId = title.Id })">
                    @Labels.ViewDetails
                </a>
            </div>
        }
    </div>
</div>