@model EmailModel

@{
    ViewData["Title"] = Labels.ForgotPassword1;
}

@section Headers
{
    <script>
    $(() => {
        let messageContainer = $(".form .message");
        
        $(".form").form({
        on: "blur",
        fields: {
            email: {
                identifier: "email",
                rules: [
                    {
                        type: "empty",
                        prompt: "@ValidationMessages.EmailRequired"
                    },
                    {
                        type: "email",
                        prompt: "@ValidationMessages.ValidEmailRequired"
                    }
                ]
            }
        }
        }).api({
        url: "@Url.Action("ForgotPassword")",
        serializeForm: true,
        method: "POST",
        onSuccess: response => window.location.href = response.destination,
        onFailure: response => addError(messageContainer, response)
        });
    });
    </script>
}

<div class="ui middle aligned center aligned grid height-100">
    <div class="column max-width-450">
        <h2 class="ui image header margin-top-minus-100">
            <img class="image margin-top-minus-100" src="~/assets/logo_d.png" alt="Logo">
            <div class="content">
                @Labels.RecoverPassword
            </div>
        </h2>
        <form class="ui large form" novalidate>
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="email" placeholder="@Labels.EmailAddress" asp-for="Email">
                    </div>
                </div>
                <div class="ui fluid large black submit button">@Labels.RecoverPassword</div>
            </div>
            <div class="ui message error"></div>
        </form>
    </div>
</div>