@model ResetPasswordModel

@{
    ViewData["Title"] = Labels.ChangePassword;
}

@section Headers
{
    <script>
    var newPasswordRequiredLabel = "@ValidationMessages.NewPasswordRequired";
    var minimumPasswordLengthLabel = "@ValidationMessages.MinimumPasswordLength";
    var passwordsMustBeEqualLabel = "@ValidationMessages.PasswordsMustBeEqual";
    var requestFailedLabel = "@OtherMessages.RequestFailed";
    var actionRoute = "@Url.Action("ChangePassword")";
    </script>
    <script src="~/libs/weebreader.1.0.1/main/reset-password.js"></script>
}

<div class="ui middle aligned center aligned grid h-100p">
    <div class="column mw-450px">
        <h2 class="ui image header mt-minus-100px">
            <img class="image mt-minus-100px" src="~/assets/logo_d.png" alt="Logo">
            <div class="content">
                @Labels.ChangeYourPassword
            </div>
        </h2>
        <form class="ui large form" novalidate>
            <input type="hidden" name="userId" asp-for="UserId"/>
            <input type="hidden" name="token" asp-for="Token"/>
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="newPassword" placeholder="@Labels.NewPassword" asp-for="NewPassword">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="repeatNewPassword" placeholder="@Labels.RepeatNewPassword">
                    </div>
                </div>
                <div class="ui fluid large black submit button">@Labels.ChangePassword</div>
            </div>
            <div class="ui message error"></div>
        </form>
    </div>
</div>