@model ResetPasswordModel

@{
    ViewData["Title"] = Labels.ChangePassword;
}

@section Headers
{
    <script>
    $(() => {
        let messageContainer = $(".form .message");
        
        $(".form").form({
        on: "blur",
        fields: {
            newPassword: {
                identifier: "newPassword",
                rules: [
                    {
                        type: "empty",
                        prompt: "@ValidationMessages.NewPasswordRequired"
                    },
                    {
                        type: "minLength[8]",
                        prompt: "@ValidationMessages.MinimumPasswordLength"
                    }
                ]
            },
            repeatNewPassword: {
                identifier: "repeatNewPassword",
                rules: [
                    {
                        type: "match[newPassword]",
                        prompt: "@ValidationMessages.PasswordsMustBeEqual"
                    }
                ]
            }
        }
        }).api({
        url: "@Url.Action("ChangePassword")",
        serializeForm: true,
        method: "PATCH",
        onSuccess: response => window.location.href = response.destination,
        onFailure: response => addError(messageContainer, response)
        });
    });
    </script>
}

<div class="ui middle aligned center aligned height-100">
    <div class="column max-width-450">
        <h2 class="ui image header margin-top-minus-100">
            <img class="image margin-top-minus-100" src="~/assets/logo.png" alt="Logo">
            <div class="content">
                @Labels.ChangeYourPassword
            </div>
        </h2>
        <form class="ui large form" novalidate>
            <input type="hidden" name="userId" asp-for="UserId"/>
            <input type="hidden" name="token" asp-for="Token"/>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="newPassword" placeholder="@Labels.NewPassword" asp-for="NewPassword">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="repeatNewPassword" placeholder="@Labels.RepeatNewPassword">
                    </div>
                </div>
                <div class="ui fluid large black submit button">@Labels.ChangePassword</div>
            </div>
            <div class="ui message error"></div>
        </form>
    </div>
</div>