@model ResetPasswordModel

@{
    ViewData["Title"] = Labels.ChangePassword;
}

@section Headers
{
    <script>
    $(() => {
        let messageContainer = $(".form .message");
        let form = $(".form");
        
        form.on("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                return false;
            }
        });
        
        form.form({
        on: "blur",
        fields: {
            newPassword: {
                identifier: "newPassword",
                rules: [
                    {
                        type: "empty",
                        prompt: "@ValidationMessages.NewPasswordRequired"
                    },
                    {
                        type: "minLength[8]",
                        prompt: "@ValidationMessages.MinimumPasswordLength"
                    }
                ]
            },
            repeatNewPassword: {
                identifier: "repeatNewPassword",
                rules: [
                    {
                        type: "match[newPassword]",
                        prompt: "@ValidationMessages.PasswordsMustBeEqual"
                    }
                ]
            }
        }
        }).api({
        url: "@Url.Action("ChangePassword")",
        serializeForm: true,
        method: "PATCH",
        onSuccess: response => window.location.href = response.destination,
        onFailure: response => Array.isArray(response.messages) ? addError(messageContainer, response) : addError(messageContainer, buildFakeResponse(["@OtherMessages.RequestFailed"])),
        onError: () => addError(messageContainer, buildFakeResponse(["@OtherMessages.RequestFailed"]))
        });
    });
    </script>
}

<div class="ui middle aligned center aligned grid h-100p">
    <div class="column mw-450px">
        <h2 class="ui image header mt-minus-100px">
            <img class="image mt-minus-100px" src="~/assets/logo_d.png" alt="Logo">
            <div class="content">
                @Labels.ChangeYourPassword
            </div>
        </h2>
        <form class="ui large form" novalidate>
            <input type="hidden" name="userId" asp-for="UserId"/>
            <input type="hidden" name="token" asp-for="Token"/>
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="newPassword" placeholder="@Labels.NewPassword" asp-for="NewPassword">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="repeatNewPassword" placeholder="@Labels.RepeatNewPassword">
                    </div>
                </div>
                <div class="ui fluid large black submit button">@Labels.ChangePassword</div>
            </div>
            <div class="ui message error"></div>
        </form>
    </div>
</div>