@inject ParametersManager ParameterManager
@model SignInModel

@{
    ViewData["Title"] = Labels.SignIn;
    var successMessage = (IEnumerable<string>) TempData["SuccessMessage"];
    var errorMessage = (IEnumerable<string>) TempData["ErrorMessage"];
}

@section Headers
{
    <script>
    const usernameRequiredLabel = "@ValidationMessages.UsernameRequired";
    const minimumUsernameLengthLabel = "@ValidationMessages.MinimumUsernameLength";
    const passwordRequiredLabel = "@ValidationMessages.PasswordRequired";
    const minimumPasswordLengthLabel = "@ValidationMessages.MinimumPasswordLength";
    const requestFailedLabel = "@OtherMessages.RequestFailed";
    const actionRoute = "@Url.Action("SignIn")";
    </script>
    <script src="~/libs/weebreader/main/sign-in.js" asp-append-version="true"></script>
}

<div class="ui middle aligned center aligned grid h-100p">
    <div class="column mw-450px">
        <h2 class="ui image header mt-minus-100px">
            <img class="image mt-minus-100px" src="~/assets/logo_d.png" alt="@Labels.Logo"/>
            <div class="content">
                @Labels.SignInToAccount
            </div>
        </h2>
        <form class="ui large form" novalidate>
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="@Labels.Username" asp-for="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="@Labels.Password" asp-for="Password">
                    </div>
                </div>
                <div class="ui fluid large black submit button">@Labels.SignIn</div>
            </div>
            @if (successMessage == null && errorMessage == null)
            {
                <div class="ui message error"></div>
            }
            else
            {
                <div class="ui message @(successMessage == null ? "error" : "success") visible">
                    <ul class="list">
                        @foreach (var item in successMessage ?? errorMessage)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </div>
            }
        </form>
        @if (await ParameterManager.GetValue<bool>(ParameterTypes.EmailSenderEnabled))
        {
            <div class="ui message">
                @Labels.ForgotPassword2 <a href="@Url.Action("ForgotPassword")">@Labels.ResetIt</a>
            </div>   
        }
    </div>
</div>